# https://github.com/github/linguist/blob/master/docs/overrides.md

# Tell linguist to ignore xsl files (RSS stylesheet) so XSLT stops
# showing up as a top language on GitHub.com
*.xsl linguist-detectable=false
