---
import type { MarkdownHeading } from 'astro';
import ToCLinks from './ToCLinks.astro';

export type Props = {
    headings: MarkdownHeading[];
    depth?: number;
    withComments?: boolean;
};

const {
    headings,
    depth = 2,
    withComments = true,
} = Astro.props;

if (withComments) {
    headings.push({
        depth: 2,
        slug: 'comments',
        text: 'Comments',
    });
}
---
<h2 class="mb-2 font-sans font-medium uppercase text-sm text-wave-800 dark:text-yellow-500">
    In this post
</h2>

<nav class="w-full mb-6 xl:mb-0">
    <ToCLinks
        headings={headings}
        depth={depth}
    />
</nav>

<script>
import scrollSpy from 'simple-scrollspy';
scrollSpy('.content-sidebar nav', {
    sectionClass: '.container > article section[id]',
    offset: 100,
});
</script>

