---
import type { MarkdownHeading } from 'astro';
import ToCLinks from './ToCLinks.astro';

import '@/styles/toc.scss';

export type Props = {
    headings: MarkdownHeading[];
    depth?: number;
    withComments?: boolean;
};

const {
    headings,
    depth = 2,
    withComments = true,
} = Astro.props;

if (withComments) {
    headings.push({
        depth: 2,
        slug: 'comments',
        text: 'Comments',
    });
}
---

<div class="toc-header">

    <h2 class="font-sans-serif text-uppercase small">
        In this post
    </h2>

</div>

<nav class="content-toc my-3 my-xxl-0">
    <ToCLinks
        headings={headings}
        depth={depth}
    />
</nav>

<script>
import scrollSpy from 'simple-scrollspy';

const $currentSection = document.querySelector<HTMLElement>('.toc-current-section');

const updateCurrent = ($active: HTMLElement | null) => {
    if ($active && $currentSection) {
        $currentSection.innerHTML = $active.innerHTML;
    }
};

updateCurrent(document.querySelector<HTMLElement>('.content-sidebar nav ul li:first-child a'));

scrollSpy('.content-sidebar nav', {
    sectionClass: '.content-container article section',
    offset: 100,
    onActive: updateCurrent,
});
</script>

