---
import type { MarkdownHeading } from 'astro';

export type Props = {
    headings: MarkdownHeading[];
    depth?: number;
};

const {
    headings,
    depth = 2,
} = Astro.props;

const topLevel = headings.filter((heading) => heading.depth === depth);
const depthPadding = Math.round(((depth - 1) * .75) * 100) / 100;
---

<ul
    class="list-[circle] xl:list-none xl:list-unstyled mb-0 text-lg xl:text-[.81rem] ps-4 xl:ps-0 marker:text-amber-300"
    style={`--toc-depth-padding: ${depthPadding}rem`}
>

    {topLevel.map((heading, i) => {
        const topLevelHeading = topLevel[i + 1];

        const sliceStart = headings.indexOf(heading) + 1;
        const sliceEnd = topLevelHeading ? headings.indexOf(topLevelHeading) : 0;

        const subHeadings = headings.slice(
            sliceStart,
            sliceEnd > 0 ? sliceEnd : undefined
        );

        const headingSlug = heading.slug.replace('h-', '');

        return (

            <li>

                <a
                    class="xl:block xl:py-[.125rem] xl:ps-(--toc-depth-padding) xl:opacity-75 hover:opacity-100 xl:border-l xl:border-zinc-300 dark:xl:border-zinc-600 active:font-medium active:opacity-100 active:border-wave-800 active:dark:xl:border-dune-400"
                    href={`#${headingSlug}`}
                >
                    {heading.text}
                </a>

                {subHeadings.length > 0 && (
                    <Astro.self
                        headings={subHeadings}
                        depth={heading.depth + 1}
                    />
                )}

            </li>

        );

    })}

</ul>
