html[data-bs-theme="light"] {
    .content-aside {
        &.aside-xmas {
            --jz-aside-background-start: #A3D0BB;
            --jz-aside-background-stop: #A3D0BB;
            --jz-aside-border: #0E5232;
            --jz-aside-link: var(--bs-dark);
            color: var(--bs-dark);
        }
    }
}

.content-aside {

    &.aside-egg {
        --jz-aside-background-start: var(--bs-white);
        --jz-aside-background-stop: rgba(235,182,210,1);
        --jz-aside-border: var(--bs-pink-500);
        --jz-aside-link: var(--bs-pink-900);
    }

    &.aside-idea {
        --jz-aside-background-start: var(transparent);
        --jz-aside-background-stop: var(transparent);
        // --jz-aside-border: var(--bs-teal-800);
        // --jz-aside-link: var(--bs-orange-900);
        color: var(--bs-body);
    }

    &.aside-mindblown {
        --jz-aside-background-start: var(--bs-white);
        --jz-aside-background-stop: var(--bs-orange-400);
        --jz-aside-border: var(--bs-orange-600);
        --jz-aside-link: var(--bs-orange-900);
    }

    &.aside-wave {
        --jz-aside-background-start: var(--bs-white);
        --jz-aside-background-stop: #6fdef6;
        --jz-aside-border: var(--bs-cyan-600);
        --jz-aside-link: var(--bs-cyan-900);
    }

    &.aside-xmas {
        --jz-aside-background-start: #0E5232;
        --jz-aside-background-stop: #0E5232;
        --jz-aside-border: #A3D0BB;
        --jz-aside-link: var(--bs-white);
        color: var(--bs-white);
    }

    background: var(--jz-aside-background-stop);
    background: linear-gradient(
        135deg,
        var(--jz-aside-background-start) 0%,
        var(--jz-aside-background-stop) 25%
    );
    border-color: var(--jz-aside-border) !important;
    color: var(--bs-body-bg-dark);

    .icon {
        color: var(--jz-aside-border);
    }

    a {
        color: var(--jz-aside-link);
        text-decoration: underline dashed;
        text-underline-offset: 0.15em;
        &:hover {
            color: var(--bs-body-bg-dark);
        }
    }

    section {

        p:last-child {
            margin-bottom: 0;
        }

    }

    img {
        border-radius: var(--bs-border-radius-sm);
    }

}
