@use '@/styles/bootstrap.scss' as bs;

@mixin aside-variant($name, $color, $opacity: 0.2) {
    &.aside-#{$name} {
        --jz-aside: #{$color};
        --jz-aside-h: #{hue($color)};
        --jz-aside-l: #{lightness($color)};
        --jz-aside-s: #{saturation($color)};
        --jz-aside-o: #{$opacity};
    }
}

.content-aside {
    // https://getbootstrap.com/docs/5.3/customize/color/#colors

    @include aside-variant('idea', bs.$primary);
    @include aside-variant('xmas', bs.$green-600);
    @include aside-variant('wave', bs.$cyan-300);
    @include aside-variant('mindblown', bs.$orange-600);
    @include aside-variant('egg', bs.$pink-500);
    @include aside-variant('reddit', #FF4500);
    @include aside-variant('hackernews', #FF6602);
    @include aside-variant('info', bs.$blue-500);

    background-color: hsl(
        var(--jz-aside-h),
        var(--jz-aside-s),
        var(--jz-aside-l),
        var(--jz-aside-o)
    );

    border-color: var(--jz-aside) !important;
    color: var(--bs-body-color);

    .aside-icon {
        width: 40px;
        height: 40px;
        background-color: var(--jz-aside);

        > * {
            width: 70%;
            height: 70%;
        }

    }

    .icon {
        color: var(--bs-light);
    }

    a {
        color: var(--jz-aside-link);
        text-decoration: underline dashed;
        text-underline-offset: 0.15em;
        &:hover {
            color: var(--jz-aside);
        }
    }

    section {

        p:last-child {
            margin-bottom: 0;
        }

    }

    img {
        border-radius: var(--bs-border-radius-sm);
    }

}
