a {
    transition: color 500ms ease 0s,
                opacity 500ms ease 0s,
                border-color 500ms;
}

h1 {
    word-spacing: -0.2em;
}

h2 {
    word-spacing: -0.1em;
    &.border-bottom {
        border-color: rgba($headings-color, 0.3) !important;
    }
}

h3 {
    font-size: 1.5rem;
    color: light-dark(#075985, #eab308); // sky-800, yellow-500
}

h4 {
    font-weight: bold;
    font-family: var(--bs-body-font-family);
    color: light-dark(#082f49, #ca8a04); // sky-950, yellow-600
}

h5 {
    color: light-dark(#040D39, #a16207); // yellow-700
}

body {
    &:before {
        content: '';
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: -1;
        transition: background 150ms ease 0s,
                    background-image 150ms ease 0s;
        background: var(--bs-body-bg);
        background-image: var(--jz-bg-gradient);
    }
}
