.code-block {

    html[data-bs-theme="light"] & {
        @import './prism/light';
    }

    html[data-bs-theme="dark"] & {
        // https://github.com/PrismJS/prism-themes/blob/master/themes/prism-one-dark.css
        @import './prism/dark';

        &,
        figcaption {
            border-color: rgb(37, 38, 43) !important;
        }
    }

    &,
    code[class*="language-"],
    pre[class*="language-"] {
        background-color: var(--bs-body-bg) !important;
    }

    .code-language {
        background-color: var(--bs-border-color);
        font-size: 0.75em;
    }

    .btn-copy {

        top: calc(28px + .25em);
        transition: opacity 1s ease-out;

        &:not(.copied) {
            opacity: 0;
            display: none;
        }

    }

    &:hover {

        .btn-copy {
            opacity: 1;
            display: block;
        }

    }

}
