.btn-copy {

    color: var(--bs-border-color) !important;

    &:hover {
        color: var(--bs-emphasis-color) !important;
    }

    .copy-pending,
    .copy-success {
        transition: opacity 500ms ease-out;
    }

    &.copied .copy-pending,
    .copy-success {
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }

    &.copied .copy-success {
        width: auto;
        height: auto;
        opacity: 1;
    }

}
