@import './bootstrap';

:root {

    --jz-nav-width: auto;

    @include media-breakpoint-between(md, xl) {
        --jz-nav-width: 275px;
    }

    @include media-breakpoint-up(xl) {
        --jz-nav-width: 375px;
    }

}

:root,
html[data-bs-theme="light"] {

    --jz-bg-gradient: linear-gradient(
        45deg,
        hsl(210deg 17% 98%) 14%,
        hsl(209deg 50% 95%) 61%,
        hsl(209deg 62% 93%) 77%,
        hsl(208deg 68% 91%) 87%,
        hsl(208deg 72% 89%) 94%,
        hsl(207deg 74% 86%) 99%,
        hsl(207deg 76% 84%) 101%,
        hsl(206deg 77% 81%) 101%
    );

    --jz-header-bg-color: #9ac4d2;

    .d-inline-light {
        display: inline !important;
    }

}

html[data-bs-theme="dark"] {

    --jz-bg-gradient: linear-gradient(
        45deg,
        hsl(210deg 18% 7%) 14%,
        hsl(209deg 29% 8%) 61%,
        hsl(209deg 38% 9%) 77%,
        hsl(209deg 49% 10%) 87%,
        hsl(208deg 60% 11%) 94%,
        hsl(207deg 72% 11%) 99%,
        hsl(207deg 84% 12%) 101%,
        hsl(206deg 97% 12%) 101%
    );

    --jz-header-bg-color: #1f3749;

    .d-inline-light {
        display: none !important;
    }

    .d-inline-dark {
        display: inline !important;
    }

    .text-emphasis {
        color: $emphasis-color-dark;
    }

    .bg-info {
        background-color: rgba(25, 113, 194, 0.2) !important;
    }

}

@import './base';
@import './utils';
@import './nav';

@include media-breakpoint-up(md) {
    .rounded-md-end {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        @include border-end-radius;
    }

    .post-card {
        .card-img {
            flex: 0 0 40%;
        }

    }
}

.card {

    transition: transform 150ms ease 0s,
                box-shadow 100ms ease 0s;

    &:hover {
        box-shadow: $box-shadow;
        transform: scale(1.02);
    }

    @include media-breakpoint-between(xl, xxl) {

        .card-body {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
        }

        h1 {
            font-size: $h4-font-size;
        }

        p,
        time {
            font-size: $small-font-size;
        }

    }

    html[data-bs-theme="dark"] & {
        background-color: $card-bg-dark;
        border-color: $card-border-color-dark;
    }

    a {
        transition: color 150ms ease 0s;
    }

}


.content-container {
    max-width: 100%;
    @include media-breakpoint-up(xl) {
        max-width: 45em; // 720px
    }
}

.post-pagination {
    a {
        color: var(--body-color);
    }
}

.mdx-columns > div {
    flex: 1 1 auto !important;
}


.emoji-lg {
    span[role="img"] {
        font-size: 1.5em;
    }
}

.p-nav {
    padding-inline: 1em;
    @include media-breakpoint-up(md) {
        padding-left: calc(var(--jz-nav-width) + 3em);
        padding-right: 3em;
    }
}
