.iphone {
    --width: 60%;

    background-size: var(--width);
    background-repeat: no-repeat;

    .w-60 {
        width: var(--width);
    }

    .iphone-buttons {
        width: calc(var(--width) * 1.01);
        left: -0.28209381%;
    }

    .shortcut {
        width: var(--width);
        // background-image: var(--bgRepeat);
        background-size: cover;
        background-repeat: repeat-y;

        .shortcut-img {
            transition: opacity 0.3s linear;
        }
    }

    .context {
        width: calc(100% - var(--width));
        height: 0;
        padding-top: 3px;
        /* 40px */
        padding-left: 3%;
        opacity: 0;
        transition: visibility 0.3s linear,
                    opacity 0.3s linear;
    }

    .step.active {
        .shortcut .shortcut-img {
            opacity: 1 !important;
        }
        .context {
            visibility: visible !important;
            opacity: 1;
        }
    }

    .vr-wrap {
        height: 1.5vw;
        color: #6d7077;
    }

}