.site-nav-wrap {

    @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }

    .is-divider-layout & {
        @include media-breakpoint-down(lg) {
            background-color: var(--jz-header-bg-color);
        }
    }

    @include media-breakpoint-down(lg) {

        &,
        .nav-toggle,
        .nav-toggle-photo {
            transition: all .3s ease-in-out;
        }

        .nav-toggle-photo {
            width: 0;
            overflow: hidden;
            opacity: 0;
            margin: 0;
            padding: 0;
        }

        &.is-sticky {
            padding: 0 !important;
            background-color: transparent !important;

            .nav-toggle-photo {
                --spacing: 0.5rem;
                opacity: 1;
                width: calc(37px + (var(--spacing) * 2));
                margin-right: var(--spacing);
                padding: 0 var(--spacing);
            }

        }
    }

}

.site-nav {

    @include media-breakpoint-between(lg, xl) {

        .nav-photo img {
            max-width: 75% !important;
        }

        h1 {
            font-size: 33px;
        }

    }

    @include media-breakpoint-up(lg) {

        position: sticky;
        top: 3rem;
        &.is-static {
            position: relative;
        }
    }

    width: var(--jz-nav-width);


    @include media-breakpoint-down(lg) {
        .collapse {
            max-height: 0;
            overflow: hidden;
            transition: max-height .35s cubic-bezier(0, 1, 0, 1);

            &.show {
                max-height: 99em;
                transition: max-height .5s ease-in-out;
            }

        }
    }

}

.collapse-button {
    @include transition($accordion-icon-transition);

    button:not(.collapsed) & {
        transform: $accordion-icon-transform;
    }
}

.nav-photo {

    img {

        @include media-breakpoint-down(lg) {
            width: 125px;
            height: 125px;
            min-width: 125px;
        }

    }

}

.nav-color-mode-toggle {
    width: 50px;
    @include media-breakpoint-down(lg) {
        background-color: rgba($light, 0.1) !important;
        @include border-radius;
    }
    @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
        right: 0;
    }
}
