.timeline {

    $bullet-size: 50px;
    $border-size: 4px;
    $bullet-size-half: calc($bullet-size / 2);

    // padding-left: $bullet-size / 2;

    .era-wrap {

        .era-start {
            // width: 100px;
            padding-right: $bullet-size-half + 10px;
            line-height: $bullet-size;
        }

         &:last-child {
            .era {
                padding-bottom: 0 !important;
            }
        }
    }

    .era {

        &::before {
            content: '';
            display: block;
            position: absolute;
            inset: 0 auto 0 (-$border-size);
            border-left: $border-size solid light-dark(var(--jz-era-color), var(--jz-era-color-dark));
        }

        .era-bullet {
            width: $bullet-size;
            height: $bullet-size;
            border: $border-size solid light-dark(var(--jz-era-color), var(--jz-era-color-dark));
            background-color: var(--jz-era-color);
            margin-left: (-$bullet-size-half);
        }

        .era-title {
            line-height: $bullet-size;
            color: light-dark(var(--jz-era-color), var(--jz-era-color-dark));
        }

        a.era-title {
            &:hover {
                opacity: 0.75;
            }

            .icon-link {
                font-size: .45em;
            }
        }

    }

}
