@use '@/styles/bootstrap' as bs;

.content-toc {

    h2 {
        opacity: .65;
    }

    $depth-padding: 1.5em;

    ul {

        a {
            display: block;
            font-size: 13px;
            padding: .15em $depth-padding;

            @include bs.media-breakpoint-up(xxl) {
                border-left: 1px solid var(--bs-border-color);
            }

            &.active {
                color: var(--bs-emphasis-color) !important;
                font-weight: 500;
                border-color: var(--bs-heading-color) !important;
                opacity: 1 !important;
            }

        }

        @for $i from 3 through 6 {

            a.depth-#{$i} {
                padding-left: ($i - 1) * $depth-padding;
            }

        }

    }

    @include bs.media-breakpoint-down(lg) {

        ul {
            list-style: circle;
            padding-left: 2rem;

            &:first-child {
                padding-left: 1rem;
            }

            a {
                padding: .25rem 0 !important;
                font-size: var(--bs-body-font-size);
                line-height: var(--bs-body-line-height);
            }
        }

    }

}
