@use '@/styles/bootstrap' as bs;

.content-container {
    section {
        scroll-margin-top: 140px;

        @include bs.media-breakpoint-up(md) {
            scroll-margin-top: 1em;
        }
    }
}

.content-toc {

    h2 {
        opacity: .65;
    }

    $depth-padding: 1.5em;

    ul {

        a {
            display: block;
            font-size: 15px;
            border-left: 1px solid var(--bs-border-color);
            padding: .15em $depth-padding;

            &.active {
                color: var(--bs-emphasis-color) !important;
                font-weight: 500;
                border-color: var(--bs-heading-color) !important;
                opacity: 1 !important;
            }

        }

        @for $i from 3 through 6 {

            a.depth-#{$i} {
                padding-left: ($i - 1) * $depth-padding;
            }

        }

    }

}
