// Display
.display-1 {
    word-spacing: -0.5em;
    @include media-breakpoint-down(md) {
        font-size: 2.5rem;
    }
}

// Icons
// https://github.com/FortAwesome/Font-Awesome/blob/6.x/js-packages/%40fortawesome/fontawesome-svg-core/styles.css
.icon {
    display: inline-block;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;

    &.fa-2x {
        font-size: 2em;
    }
}

// Sizing
.mw-1600 {
    max-width: 1600px;
}

// Text
.font-sans-serif {
    font-family: $font-family-sans-serif !important;
}

.smallest {
    font-size: .75rem;
}
