---
import DividerLayout from '@/layouts/DividerLayout.astro';
import imgGeorge from '@/assets/img-george-is-not-home.png';

import { Image } from 'astro:assets';

const title = '404 Page Not Found';
const metadata = {
    title: title,
    description: 'Where could it be?',
};
---

<DividerLayout
    metadata={metadata}
    titleClass="text-end text-lg"
>

    <Fragment slot="title">
        {title}
    </Fragment>

    <Fragment slot="main">

        <div>

            <p class="font-mono md:text-3xl font-medium text-wave-800 dark:text-wave-400">
                Believe it or not, this page is not home.
            </p>

            <Image
                src={imgGeorge}
                alt="Screenshot of George sitting next to his phone eating popcorn in Season 8 Episode 15 of Seinfeld"
                class="rounded-2xl shadow-lg my-4"
                width="2000"
                height="1125"
                loading="eager"
            />

            <p class="font-mono md:text-3xl font-medium text-wave-800 dark:text-wave-400 text-end">
                Where could it be?
            </p>

        </div>

    </Fragment>

</DividerLayout>
