---
import { getCollection, render } from 'astro:content';
import { getImageSrc } from '@/utils/images';

import DividerLayout from '@/layouts/DividerLayout.astro';
import BackToTop from '@/components/BackToTop.astro';
import Markdown from '@/components/Markdown.astro';

export async function getStaticPaths() {

    const pages = await getCollection('pages');

    return pages.map(page => ({
        params: {
            page: page.id,
        },
        props: {
            page,
        },
    }));

}

const { page } = Astro.props;
const { Content } = await render(page);

const { data } = page;

const {
    excerpt,
    title,
} = data;

const coverImageSrc = await getImageSrc(page.data.cover);

const metadata = {
    title,
    description: excerpt,
    image: coverImageSrc,
};
---

<DividerLayout metadata={metadata}>

    <h1
        slot="header"
        class="display-3"
    >
        {title}
    </h1>

    <Fragment slot="main">

        <article class="content-container">

            <Markdown Content={Content} />

            <p class="py-5 text-center">
                <BackToTop />
            </p>

        </article>

    </Fragment>

</DividerLayout>
