---
import { getItems } from '@utils/collections';
import { getItemImagePath, getRenderedImage } from '@utils/images';
import { absoluteUrl } from '@utils/urls';

import DividerLayout from '@layouts/DividerLayout.astro';
import BackToTop from '@components/BackToTop.astro';
import Markdown from '@components/Markdown.astro';

export async function getStaticPaths() {

    const pages = await getItems('pages');

    return pages.map(page => ({
        params: {
            page: page.slug,
        },
        props: {
            page,
        },
    }));

}

const { page } = Astro.props;
const { Content } = await page.render();

const { data, slug } = page;

const {
    coverImage,
    excerpt,
    title,
} = data;

const ogImageSrc = await getRenderedImage(
    getItemImagePath(slug, coverImage.url, 'pages')
);

const metadata = {
    title,
    description: excerpt,
    image: absoluteUrl(ogImageSrc),
};
---

<DividerLayout metadata={metadata}>

    <h1
        slot="header"
        class="display-3"
    >
        {title}
    </h1>

    <Fragment slot="main">

        <article class="content-container">

            <Markdown Content={Content} />


            <p class="py-5 text-center">
                <BackToTop />
            </p>

        </article>

    </Fragment>

</DividerLayout>
