---
import { getEntry } from 'astro:content';
import { getImageSrc } from '@/utils/images';

import Emoji from '@/components/Emoji.astro';
import Layout from '@/layouts/Layout.astro';
import Icon from '@/components/Icon.astro';
import Link from '@/components/Markdown/Link.astro';
import PostCard from '@/components/PostCard.astro';
import Prose from '@/components/Prose.astro';

import imgScreenshot from '@/assets/screenshots/home.jpg';

const imageUrl = await getImageSrc(imgScreenshot);

const featuredPost = await getEntry(
    'posts',
    'unifi-g4-doorbell-fingerprint-unlock'
);

const metadata = {
    title: 'John Zanussi',
    description: 'A place where I write about technology, 3D Printing, and other hobby projects I have going on.',
    image: imageUrl,
};

---
<Layout metadata={metadata}>

    <div class="container py-8 md:py-12 content">

        <h1 class="font-mono font-medium mb-4 md:mb-12 text-[40px] -word-spacing-5 md:text-[80px] md:-word-spacing-10">

            <span class="bg-linear-45 from-sky-950 to-violet-800 dark:from-yellow-500 dark:to-fuchsia-400 bg-clip-text text-transparent drop-shadow-xl">
                Hey, there!
            </span>

            <Emoji label="waving hand">👋</Emoji>
        </h1>

        <div class="mb-4">

            <Prose class="text-xl">

                <p>
                    I'm John. That's me up there <Emoji label="up left arrow">↖️</Emoji>.
                    I've been building stuff on the web either on my own or with teams for almost 20 years.
                </p>

                <p>
                    I've been doing a lot of 3D printing, home automation projects, and web development stuff in my free time and wanted a place to share my experiences with the community. Creating and maintaining this site also gives me an excuse to play around with new trends in web development.
                </p>

                <p>
                    You can read more about the libraries and tools I used to build
                    this site on the <Link href="/built-with">Built With</Link> page
                    or by checking out the code for yourself on{' '}
                    <Link href="https://github.com/johznanussi/johnzanussi.com">GitHub</Link>.
                </p>

                <p>
                    You can read more about me on my{' '}
                    <Link href="/about">About</Link> page. You can see what videos
                    I'm watching on the <Link href="/youtube">YouTube</Link> page.
                </p>

                <p>
                    Lastly, you can check out one of my recent posts below.
                </p>

            </Prose>

            {featuredPost && (
                <div class="pt-4">
                    <PostCard post={featuredPost} />
                </div>
            )}

            <p class="mt-4 me-2 flex justify-end">

                <Link href="/posts" class="text-xl text-end leading-8 inline-block hover:scale-105 transition-all">
                    More Posts
                    <Icon icon="tabler:arrow-right" class="inline-block text-2xl" />
                </Link>

            </p>

        </div>

    </div>

</Layout>
