---
import { getDateSortedCollection } from '@/utils/collections';
import { getImageSrc } from '@/utils/images';

import DividerLayout from '@/layouts/DividerLayout.astro';
import PostCard from '@/components/PostCard.astro';

import imgScreenshot from '@/assets/screenshots/posts.jpg';

const imageUrl = await getImageSrc(imgScreenshot);

const posts = await getDateSortedCollection('posts');

const metadata = {
    title: 'Posts',
    description: 'A collection of posts I\'ve written about various topics.',
    image: imageUrl,
};
---

<DividerLayout metadata={metadata}>

    <h1
        slot="header"
        class="text-6xl font-mono dark:text-dune-400"
    >
        Posts
    </h1>

    <div
        slot="main"
        class="d-flex flex-column flex-grow-1"
    >

        {posts.map(post => (
            <div class="mb-6">
                <PostCard post={post} />
            </div>
        ))}

    </div>

</DividerLayout>
