---
import { getCollection } from 'astro:content';
import { getImageSrc } from '@/utils/images';

import DividerLayout from '@/layouts/DividerLayout.astro';
import Icon from '@/components/Icon.astro';
import Link from '@/components/Link.astro';
import Prose from '@/components/Prose.astro';

import imgScreenshot from '@/assets/screenshots/youtube.jpg';

const imageUrl = await getImageSrc(imgScreenshot);

const metadata = {
    title: 'YouTube',
    description: 'A list of YouTube channels I subscribe to.',
    image: imageUrl,
};

const subscriptions = await getCollection('youtube');
---
<DividerLayout metadata={metadata} isLongTitle>

    <Fragment slot="title">
        <Icon icon="tabler:brand-youtube-filled" label="YouTube Logo" /> YouTube Subscriptions
    </Fragment>

    <Prose slot="main">

        <p>
            I watch a lot of YouTube videos. After live sports, YouTube is
            where I consume most video content. Every so often, a friend or
            colleague will ask about the channels I watch, so this is my way
            of addressing these requests. The following list is not all of
            the channels I subscribe to, but these are the channels that I
            watch regularly. The channels with the{' '}
            <Icon icon="tabler:bell-ringing" label="bell icon" class="text-rose-600 dark:text-rose-400" /> icon are
            channels that I receive notifications when new videos are
            posted.
        </p>

        <p class="text-zinc-600 dark:text-zinc-400">
            Categories and channels are listed in alphabetical order.
        </p>

        <div class="mt-3 grid grid-cols-2 md:grid-cols-3">

            {subscriptions.map(({ data }) => {

                const { category, slug, channels } = data;

                return (

                    <div class="mb-4">

                        <h3
                            id={slug}
                            class="text-capitalize mb-3"
                            set:html={category.replace('/', '/<wbr>')}
                        />

                        <ul class="list-none p-0">

                            {channels.map(({ title, channelId, hasNotifications }) => (

                                <li class="mb-1 p-0">

                                    <Link
                                        href={`https://www.youtube.com/channel/${channelId}`}
                                        class:list={[{
                                            'decoration-rose-600 dark:decoration-rose-400': hasNotifications,
                                        }]}>
                                        {title}
                                    </Link>

                                    {hasNotifications && (
                                        <Icon
                                            icon="tabler:bell-ringing"
                                            label="bell icon"
                                            class="text-rose-600 dark:text-rose-400"
                                        />
                                    )}
                                </li>

                            ))}

                        </ul>

                    </div>

                );

            })}

        </div>

    </Prose>

</DividerLayout>
