---
import Icon from '@/components/Icon.astro';
---

<blockquote class="flex py-2 px-3 mb-6 border-l-3 border-gray-300 dark:border-zinc-600 not-prose opacity-75">

    <Icon
        icon="tabler:quote-filled"
        class="me-3 text-zinc-400 dark:text-zinc-400 text-3xl rotate-180"
    />

    <div>

        <slot />

    </div>

</blockquote>
