---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
    class?: string;
};

const {
    class: className,
    ...props
} = Astro.props;
---
<div
    class:list={[
        'mdx-columns d-flex',
        className,
    ]}
    {...props}
>

    <slot />

</div>
