---
type Props = {
    columns?: number[];
    gap?: number | string;
    cols?: number | string;
};

const { columns, gap, cols } = Astro.props;


const cssVars: Record<string, string> = {};

if (columns) {
    cssVars['--grid-cols'] = columns.map(column => `${column}fr`).join(' ');
} else if (cols) {
    cssVars['--grid-cols'] = `repeat(${cols.toString()}, minmax(0, 1fr))`;
}

if (gap) {
    cssVars['--grid-gap'] = `calc(var(--spacing) * ${gap.toString()})`;
}

---

<div
    class="grid text-center gap-(--grid-gap) grid-cols-(--grid-cols)"
    style={cssVars}>

    <slot />

</div>
