---
import Image from '@components/Image.astro';

const { alt, ...props } = Astro.props;

const [altText, noDivWrap = false] = alt.split(' noDivWrap');

const imgProps = {
    class: 'img-fluid',
    alt: altText,
    widths: [576, 768, 992, 1200, 1400, 1600],
    ...props,
};
---

{noDivWrap && (
    <Image {...imgProps} />
)}

{!noDivWrap && (

    <div class="mb-4">

        <Image {...imgProps} />

    </div>

)}
