---
import { Image as AstroImage } from 'astro:assets';

const { src, alt, ...props } = Astro.props;

const [altText, noDivWrap = false] = alt ? alt.split(' noDivWrap') : [alt];

const imgProps = {
    src,
    alt: altText,
    class: 'img-fluid',
    widths: [576, 768, 992, 1200, 1400, 1600],
    ...props,
};
---

{noDivWrap && (
    <AstroImage {...imgProps} />
)}

{!noDivWrap && (

    <div class="mb-4">
        <AstroImage {...imgProps} />
    </div>

)}
