---
type Props = {
    class?: string;
};

const { class: className } = Astro.props;
---
<div class:list={[
    'my-4 text-zinc-600 dark:text-zinc-400 text-sm italic',
    className,
]}>
    Disclosure: Some of the links above are affiliate links. This means that, at zero cost to you, I
    will earn an affiliate commission if you click through the link and finalize a purchase.
</div>
