---
export interface Props {
    type: 'egg' | 'idea' | 'mindblown' | 'wave';
}

import Icon from '@/components/Icon.astro';
import Emoji from '@/components/Emoji.astro';

import '@/styles/aside.scss';

const typeIcons = {
    egg: 'mdi:egg-easter',
    idea: '💡',
    mindblown: '🤯',
    wave: '👋',
};

const { type, ...props } = Astro.props;

const icon = typeIcons[type] || '';
const isIcon = icon.includes(':');
---

<aside
    class:list={`content-aside aside-${type} d-flex border-start border-5 p-3 mb-4 rounded rounded-1 shadow`}
    {...props}
>

    <p
        class="fs-1 m-0"
        aria-hidden="true"
    >
        {isIcon ? <Icon icon={icon} /> : <Emoji e={icon} />}
    </p>

    <section class="ps-3">

        <slot />

    </section>

</aside>
