---
import type { HTMLAttributes } from 'astro/types';
export interface Props extends HTMLAttributes<'aside'> {
    title?: string;
    type: 'egg' | 'idea' | 'mindblown' | 'wave' | 'xmas';
}

import Icon from '@/components/Icon.astro';
import Emoji from '@/components/Emoji.astro';

import '@/styles/aside.scss';

const typeIcons = {
    egg: 'mdi:egg-easter',
    idea: 'mdi:lightbulb-on',
    mindblown: '🤯',
    wave: '👋',
    xmas: 'fa-solid:tree',
};

const {
    type,
    title,
    class: className,
    ...props
} = Astro.props;

const icon = typeIcons[type] || '';
const isIcon = icon.includes(':');
---

<aside
    class:list={[
        `content-aside aside-${type} border-start border-5 py-3 px-4 my-5 rounded rounded-1 shadow position-relative`,
        {
            'd-flex': !title,
        },
        className,
    ]}
    {...props}
>

    <span class="aside-icon position-absolute top-0 start-0 fs-4 rounded-1 text-center translate-middle">
        {isIcon ? <Icon icon={icon} /> : <Emoji e={icon} />}
    </span>

    <section class="py-1">

        {title && (
            <p class="fs-5 fw-bold mb-1">
                {title}
            </p>
        )}

        <slot />

    </section>

</aside>
