---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'button'> {
    label?: string;
    icon?: string;
    iconClass?: string;
};

import Icon from '@/components/Icon.astro';

const {
    class: className = '',
    label = 'Back to top',
    icon = 'tabler:corner-right-up',
    iconClass,
    ...props
} = Astro.props;
---
<button
    type="button"
    class:list={[
        'btn-back-to-top cursor-pointer',
        className,
    ]}
    {...props}
>
    {label} <Icon icon={icon} class:list={['inline', iconClass]} />
</button>

<script>
import onClick from '@/scripts/onClick';
onClick('.btn-back-to-top', (_, event) => {
    event.preventDefault();
    window.history.pushState('', document.title, window.location.pathname + window.location.search);
    window.scrollTo({
        top: 0,
        behavior: 'smooth',
    });
});
</script>
