---
import type { HTMLAttributes } from 'astro/types';

export type Props = HTMLAttributes<'button'>;

import Icon from '@/components/Icon.astro';

const { class: className = '', ...props } = Astro.props;
---
<button
    type="button"
    class:list={[
        'btn btn-link btn-back-to-top',
        className,
    ]}
    {...props}
>
    Back to top <Icon icon="fa-solid:level-up-alt" />
</button>

<script>
import onClick from '@/scripts/onClick';
onClick('.btn-back-to-top', (_, event) => {
    event.preventDefault();
    window.scrollTo({
        top: 0,
        behavior: 'smooth',
    });
});
</script>
