---
import type { HTMLAttributes } from 'astro/types';

export type Props = HTMLAttributes<'a'>;

import Icon from '@/components/Icon.astro';

const { class: className = '', ...props } = Astro.props;
---
<a
    href="#"
    class:list={[
        'btn-back-to-top',
        className,
    ]}
    aria-label="Back to top"
    {...props}
>
    Back to top <Icon icon="fa-solid:level-up-alt" />
</a>

<script>
import onClick from '@/scripts/onClick';
onClick('.btn-back-to-top', (_, event) => {
    event.preventDefault();
    window.scrollTo({
        top: 0,
        behavior: 'smooth',
    });
});
</script>
