---
import Icon from '@components/Icon.astro';

const { class: className = '', ...props } = Astro.props;
---

<a
    href="#"
    class:list={[
        'btn-back-to-top',
        className,
    ]}
    aria-label="Back to top"
    {...props}
>
    Back to top <Icon icon="fa-solid:level-up-alt" />
</a>

<script>
const backToTop = document.querySelectorAll('.btn-back-to-top');
backToTop.forEach((button) => {
    button.addEventListener('click', (e) => {
        e.preventDefault();
        window.scrollTo({
            top: 0,
            behavior: 'smooth',
        });
    });
});
</script>
