---
import BackToTop from '@components/BackToTop.astro';
import TableOfContents from '@components/TableOfContents.astro';

import '../styles/toc.scss';

const { headings } = Astro.props;
---
<aside class="aside-content sticky-top align-self-md-start ms-5 pb-5 d-none d-xxl-block ps-5">

    <h2 class="font-sans-serif text-uppercase small ps-4">
        In this post
    </h2>

    <nav id="content-toc">

        <TableOfContents headings={headings} />

    </nav>

    <BackToTop class="link-faded small ps-4 text-uppercase" />

</aside>

<script>
import scrollSpy from 'simple-scrollspy';
scrollSpy('.aside-content nav', {
    sectionClass: '.content-container section',
    offset: 100,
});
</script>
