---
import type { MarkdownHeading } from 'astro';

export type Props = {
    headings: MarkdownHeading[];
};

import BackToTop from '@/components/BackToTop.astro';
import TableOfContents from '@/components/TableOfContents.astro';

import '../styles/toc.scss';

const { headings } = Astro.props;
---
<aside class="aside-content sticky-top align-self-md-start ms-5 pb-5 d-none d-xxl-block ps-5">

    <h2 class="font-sans-serif text-uppercase small ps-4">
        In this post
    </h2>

    <nav id="content-toc">

        <TableOfContents headings={headings} />

    </nav>

    <BackToTop class="link-opacity-75 link-opacity-100-hover link-body-emphasis small ps-4 text-uppercase" />

</aside>

<script>
// @ts-expect-error: Library not writtedn in TypeScript https://github.com/kimyvgy/simple-scrollspy
import scrollSpy from 'simple-scrollspy';
scrollSpy('.aside-content nav', {
    sectionClass: '.content-container section',
    offset: 100,
});
</script>
