---
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'div'> {
    value: string;
}

import Icon from '@components/Icon.astro';
const { class: className, ...props } = Astro.props;

import '@styles/copy-to-clipboard.scss';
---

<script>
import '@github/clipboard-copy-element';
document.addEventListener('clipboard-copy', (event) => {
    const button = event.target as HTMLElement;
    if (button) {
        button.classList.add('copied');
        setTimeout(() => {
            button.classList.remove('copied');
        }, 3000);
    }
});
</script>

<clipboard-copy
    class:list={[
        'btn-copy btn btn-sm border-0 text-body-secondary',
        className,
    ]}
    title="Copy code"
    {...props}
>

    <Icon
        icon="fa6-solid:copy"
        class="icon-copy copy-pending"
    />

    <span class="copy-success text-success">

        <small>Copied</small>

        <Icon
            icon="fa6-solid:check"
            class="icon-success"
        />

    </span>

</clipboard-copy>
