---
import { emojiToName } from 'gemoji';
const { label, e, ...props } = Astro.props;

let ariaLabel = label;

if (!label) {
    const emoji = e ? e : await Astro.slots.render('default');
    ariaLabel = emojiToName[emoji] || '';
}
---

<span
    aria-label={ariaLabel}
    role="img"
    {...props}
>

    <slot>
        {e}
    </slot>

</span>
