---
import Icon from '@/components/Icon.astro';

export type Props = {
    align?: 'left' | 'center' | 'right';
    caption?: string;
};

const { align = 'center', caption } = Astro.props;

const alignClasses = {
    'left': 'text-start',
    'center': 'text-center',
    'right': 'text-end',
};

const alignClass = alignClasses[align];

---
<figure class="inline-block mb-6">

    <slot />

    <figcaption class="mt-2">

        {caption && (
            <p class:list={['italic text-zinc-600 dark:text-zinc-400 text-center mb-0 text-sm', alignClass]}>
                <Icon icon="tabler:photo" />
                {caption}
            </p>
        )}

        <slot name="caption" />

    </figcaption>

</figure>
