---
import NavPhoto from '@/components/NavPhoto.astro';
import NavLinks from '@/components/NavLinks.astro';
import ThemeToggle from '@/components/ThemeToggle.astro';
import Icon from '@/components/Icon.astro';

type Props = {
    class?: string;
}

const { class: className } = Astro.props;

const hasPhotoBg = className?.includes('has-photo-bg');
const islandBg = 'rounded-full bg-gradient-to-tr from-sky-950 to-cyan-950 shadow-xl';
---

<header class:list={['header py-4 relative z-3', className]}>

    <div class="container">

        <nav class="flex navbar-expand-sm p-1 justify-between">

            <a class:list={[
                'flex items-center group',
                {
                    [`${islandBg} text-zinc-100 pe-8`]: hasPhotoBg,
                    'rounded rounded-pill pe-3': !hasPhotoBg,
                },
             ]}
             href="/">

                <NavPhoto class="group-hover:scale-80 transition-transform ease-in-out" />

                <span class="ms-4 font-mono font-medium text-2xl leading-6 group-hover:scale-115 transition-transform ease-in-out">
                    John Zanussi
                </span>

            </a>

            <div
                data-theme="dark"
                class:list={[
                    'flex flex-row items-center p-2 sm:px-4',
                    islandBg,
                ]}>


                <div class="navbar-collapse">
                    <NavLinks
                        wrapperClass="flex font-mono text-xl"
                        linkClass="block px-2 py-3 text-cyan-500 hover:text-cyan-300 hover:scale-105 transition-transform ease-in-out"
                    />
                </div>

                <ThemeToggle class="nav-color-mode-toggle me-sm-2 hover:scale-115 transition-transform ease-in-out" />

                <a
                    href="#footer"
                    class="block sm:hidden btn btn-link navbar-toggler m-0 mt-2 p-0 text-white"
                    data-bs-target="#footer"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <Icon icon="mdi:hamburger" class="fs-2 align-text-top" />
                </a>


            </div>

        </nav>

    </div>

</header>

<script>
import onClick from '@/scripts/onClick';
onClick('.navbar-toggler', (_, event) => {
    event.preventDefault();
    document.body.classList.toggle('footer-nav');
});
</script>