---
import NavPhoto from '@/components/NavPhoto.astro';
import NavLinks from '@/components/NavLinks.astro';
import ThemeToggle from '@/components/ThemeToggle.astro';
import Icon from '@/components/Icon.astro';
---

<header class="header py-4 position z-3">

    <div class="container">

        <nav class="flex navbar-expand-sm p-1 justify-between">

            <a class="p-0 flex items-center rounded rounded-pill pe-3" href="/">

                <NavPhoto />

                <span class="ms-4">

                    <span class="font-mono text-2xl font-bold">
                        John Zanussi
                    </span>

                    <span class="block text-xs text-gray-600 dark:text-gray-400">
                        he/him
                    </span>

                </span>

            </a>

            <div
                data-theme="dark"
                class="flex flex-row items-center p-2 sm:px-4 rounded-full shadow-xl bg-gradient-to-tr from-sky-950 to-cyan-950">


                <div class="navbar-collapse">
                    <NavLinks
                        wrapperClass="flex font-mono text-xl"
                        linkClass="block px-2 py-3 text-cyan-500 hover:text-cyan-300"
                    />
                </div>

                <ThemeToggle class="nav-color-mode-toggle me-sm-2" />

                <a
                    href="#footer"
                    class="block sm:hidden btn btn-link navbar-toggler m-0 mt-2 p-0 text-white"
                    data-bs-target="#footer"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <Icon icon="mdi:hamburger" class="fs-2 align-text-top" />
                </a>


            </div>

        </nav>

    </div>

</header>

<script>
import onClick from '@/scripts/onClick';
onClick('.navbar-toggler', (_, event) => {
    event.preventDefault();
    document.body.classList.toggle('footer-nav');
});
</script>