---
import NavPhoto from '@/components/NavPhoto.astro';
import NavLinks from '@/components/NavLinks.astro';
import ThemeToggle from '@/components/ThemeToggle.astro';
import Icon from '@/components/Icon.astro';

type Props = {
    class?: string;
    hasPhotoHeader?: boolean;
}

const {
    class: className,
    hasPhotoHeader = false,
} = Astro.props;
---

<header class:list={['header py-4 relative z-3', className]}>

    <div class="container">

        <nav class="flex navbar-expand-sm p-1 justify-between">

            <a class:list={[
                'flex items-center group',
                {
                    [`sm:rounded-full sm:bg-gradient-to-tr sm:from-sky-950 sm:to-cyan-950 sm:shadow-xl sm:text-zinc-100 sm:pe-8`]: hasPhotoHeader,
                },
             ]}
             href="/">

                <NavPhoto class="group-hover:scale-80 transition-transform ease-in-out" />

                <span class="ms-4 font-mono font-medium text-2xl leading-6 group-hover:scale-115 transition-transform ease-in-out">
                    John Zanussi
                </span>

            </a>

            <div
                data-theme="dark"
                class="flex flex-col sm:flex-row items-center p-2 sm:px-4 rounded-3xl sm:rounded-full bg-gradient-to-tr from-sky-950 to-cyan-950 shadow-xl">


                <div class="hidden sm:block">
                    <NavLinks
                        wrapperClass="flex font-mono text-xl"
                        linkClass="block px-2 py-3 text-cyan-500 hover:text-cyan-300 hover:scale-105 transition-transform ease-in-out"
                    />
                </div>

                <ThemeToggle class="nav-color-mode-toggle me-sm-2 hover:scale-115 transition-transform ease-in-out" />

                <a
                    href="#footer"
                    class="block sm:hidden navbar-toggler m-0 mt-2 p-0 text-white text-center py-1.5 px-3 rounded-2xl bg-sky-900"
                    data-bs-target="#footer"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <Icon icon="mdi:hamburger" class="size-7 align-text-top" />
                </a>


            </div>

        </nav>

    </div>

</header>

<script>
import onClick from '@/scripts/onClick';
onClick('.navbar-toggler', (_, event) => {
    event.preventDefault();
    document.body.classList.toggle('footer-nav');
});
</script>