---
const { href, ...props } = Astro.props;

if (href?.startsWith('http')) {
    props.target = '_blank';
    props.rel = 'noopener noreferrer';
}
// No new lines because the white
// space was being preserved in MDX
---
<a href={href} {...props}><slot /></a>
