---
import ThemeToggle from '@components/ThemeToggle.astro';
import Icon from '@components/Icon.astro';

const { class: className } = Astro.props;
---
<div class="d-flex w-100 mt-1 mt-md-4 d-nojs-none">

    <ThemeToggle class="nav-color-mode-toggle me-2 py-1 p-md-3" />

    <button
        type="button"
        role="button"
        aria-label="Toggle navigation"
        aria-expanded="false"
        aria-controls="nav-collapse"
        class="d-block flex-grow-1 d-md-none btn btn-link text-center py-1 bg-light bg-opacity-10 rounded collapsed"
        data-toggle="collapse"
        data-target="#nav-collapse"
    >

        <Icon
            icon="fa6-solid:chevron-down"
            class="collapse-button"
        />

    </button>

</div>

<div
    class:list={['collapse d-nojs-block', className]}
    id="nav-collapse"
>

    <slot />

</div>

<script>
import onClick from '@scripts/onClick';
onClick('button[data-toggle="collapse"]', (event) => {
    const button = event.target;
    const isExpanded = button.getAttribute('aria-expanded') === 'true';
    const toggleElm = document.querySelector(button.dataset.target);
    button.setAttribute('aria-expanded', !isExpanded);
    button.classList.toggle('collapsed', !isExpanded);
    toggleElm.classList.toggle('show', !isExpanded);
});
</script>
