---
import DateFormat from './DateFormat.astro';
const { lastUpdated, title, ...props } = Astro.props;
---

<div {...props}>

    <h1>
        <slot>
            {title}
        </slot>
    </h1>

    {lastUpdated && (
        <p class="text-muted small mb-0">
            Last Updated: <DateFormat date={lastUpdated} />
        </p>
    )}

    <hr />

</div>
