---
import type { HTMLAttributes } from 'astro/types';

import type { SiblingItems } from '@/utils/collections';

export interface Props extends HTMLAttributes<'nav'> {
    posts: SiblingItems<'posts'>[];
    showLabels?: boolean;
}

import { getPostUrl } from '@/utils/collections';

import Card from '@/components/Card.astro';
import Icon from '@/components/Icon.astro';
import Link from '@/components/Link.astro';

const { posts, showLabels = true, ...props } = Astro.props;
---

<nav
    aria-label="Post pagination"
    {...props}
>

    <ul class="my-6 sm:grid sm:grid-cols-2 gap-4 post-pagination">

        {posts.map(({ isPrevious, item }) => {

            const { data, id } = item;
            const { title } = data;
            const label = isPrevious ? 'Previous' : 'Next';
            const icon = `fa6-solid:arrow-${isPrevious ? 'left' : 'right'}`;

            return (

                <li
                    class:list={[
                        'h-full',
                        {
                            'text-start mb-6 mb-md-0': isPrevious,
                            'text-end col-start-2': !isPrevious,
                        },
                    ]}
                >

                    <Card
                        class="relative flex flex-row p-3 h-full min-h-[105px] md:min-h-auto"
                        radius="md"
                    >

                        <div class:list={[
                            'self-center',
                            {
                                'order-0': isPrevious,
                                'order-1': !isPrevious,
                            }
                        ]}
                        >

                            <Icon icon={icon} />

                        </div>

                        <Link
                            href={getPostUrl(id)}
                            class:list={[
                                'block w-full after:absolute after:inset-0 leading-5',
                                {
                                    'order-1 text-start ps-4': isPrevious,
                                    'order-0 text-end pe-4': !isPrevious,
                                }
                            ]}>

                            {showLabels && (
                                <div class="mb-1.5 text-sm text-zinc-600 dark:text-zinc-400">
                                    {label} Post
                                </div>
                            )}

                            {title}

                        </Link>

                    </Card>

                </li>

            );

        })}

    </ul>

</nav>
