---
import { Image } from 'astro:assets';
import Link from '@/components/Link.astro';

import imgTrainIcon from '@/assets/icons/icon-train.png';

export type Props = {
    url: string;
    title: string;
    color: string;
    class?: string;
};

const {
    color,
    title,
    url,
    class: className
} = Astro.props;
---
<div class:list={[
    'rounded-xl p-4 not-prose text-start w-[250px] shadow',
    color,
    className,
]}>

    <div class="relative">

        <Link
            href={url}
            class="after:absolute after:inset-0 rounded-xl text-white float-end bg-white/[0.15] p-2"
        >
            Get Shortcut
        </Link>

        <Image
            src={imgTrainIcon}
            alt="Blue Train Icon"
            width={30}
            height={43}
        />

        <h5 class="font-sans mt-3 mb-0 text-white leading-5">
            {title}
        </h5>

    </div>

</div>
