---
import Icon from '@/components/Icon.astro';

export type Props = {
    class?: string;
};

const { class: className } = Astro.props;
---

<button
    class:list={['btn btn-link text-warning d-none d-inline-light', className]}
    type="button"
    data-bs-theme-value="dark"
    aria-label="Switch to dark theme"
>
    <Icon
        icon="fa6-solid:sun"
        class="lead align-text-top"
    />

</button>

<button
    class:list={['btn btn-link text-danger d-none d-inline-dark', className]}
    type="button"
    data-bs-theme-value="light"
    aria-label="Switch to light theme"
>
    <Icon
        icon="fa6-solid:moon"
        class="lead align-text-top"
    />
</button>
