---
import Icon from '@/components/Icon.astro';

export type Props = {
    class?: string;
};

const { class: className } = Astro.props;
---

<label class:list={[
    'block align-middle place-content-center select-none cursor-pointer py-1.5 sm:py-0 px-3 rounded-2xl bg-sky-900 sm:bg-transparent',
    className,
]}>

    <div class="relative size-7">

        <input type="checkbox" class="theme-controller absolute appearance-none size-7" value="dark" />

        <Icon
            icon="tabler:sun-high"
            class="size-7 absolute opacity-100 dark:opacity-0 fill-current text-yellow-500 transition-opacity duration-600"
        />

        <Icon
            icon="tabler:moon-stars"
            class="size-7 absolute opacity-0 dark:opacity-100 fill-current text-pink-500 transition-opacity duration-600"
        />

    </div>

</label>
