---
import Icon from '@/components/Icon.astro';

export type Props = {
    class?: string;
};

const { class: className } = Astro.props;
---

<label class:list={[
    'relative inline-grid align-middle place-content-center select-none cursor-pointer py-1.5 sm:py-0 px-3 rounded-2xl bg-sky-900 sm:bg-transparent',
    className,
]}>

    <input type="checkbox" class="theme-controller appearance-none" value="dark" />

    <Icon
        icon="tabler:sun-high"
        class="dark:!hidden size-7 fill-current text-dune-400"
    />

    <Icon
        icon="tabler:moon-stars"
        class="!hidden dark:!block size-7 fill-current text-pink-500"
    />

</label>
