---
import Layout from '@layouts/Layout.astro';

import BackToTop from '@components/BackToTop.astro';
import ContentAside from '@components/ContentAside.astro';

const { headings = [] } = Astro.props;
---

<Layout {...Astro.props} isFlexColumn={false}>

    <div class="content-container">

        <slot />

        <div class="text-center mt-5">
            <BackToTop />
        </div>

    </div>

    {headings.length > 0 && <ContentAside headings={headings} />}

</Layout>
