---
import Layout from '@/layouts/Layout.astro';
---
<style lang="scss">
.header-divider {

    .header-content {
        overflow: hidden;
        background-color: var(--jz-header-bg-color);
    }

    padding-bottom: 75px !important;
    position: relative;

    &:after {
        content: '';
        width: 100%;
        height: 75px;
        background-color: var(--jz-header-bg-color);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        mask-image: url('/src/assets/mask-divider-wave.png');
        mask-repeat: no-repeat-x;
        mask-position: bottom;
    }
}
</style>

<Layout
    {...Astro.props}
    class="is-divider-layout"
>

    <div class="header-divider">

        <div class="header-content pt-lg-5">

            <div class="content-container pb-3 mt-4 mt-lg-0">

                <slot name="header" />

            </div>

        </div>

    </div>

    <div class="pb-5 pt-lg-4">

        <div class="d-flex content-container flex-column-reverse flex-xxl-row">

            <slot name="main" />

        </div>

    </div>

</Layout>
