---
import Layout, { type Props as LayoutProps } from '@/layouts/Layout.astro';

type Props = LayoutProps;

const { metadata, ...props } = Astro.props;
---
<Layout
    {...props}
    metadata={metadata}
    headerClass="bg-ocean-200 dark:bg-ocean-800"
>

    <div class="header-divider relative pb-[75px] after:absolute after:w-full after:h-[75px] after:bottom-0 after:mask-wave after:mask-bottom after:bg-ocean-200 dark:after:bg-ocean-800">

        <div class="bg-ocean-200 dark:bg-ocean-800 overflow-hidden lg:pt-12">

            <div class="container pb-4 mt-6 lg:mt-0">

                <slot name="header" />

            </div>

        </div>

    </div>

    <div class="pb-12 lg:pt-5">

        <div class="flex container flex-column-reverse xl:flex-row">

            <slot name="main" />

        </div>

    </div>

</Layout>
