---
import '@fontsource-variable/inter';
import '@fontsource-variable/roboto-mono';

import '../styles/index.scss';

import Nav from '@components/Nav.astro';
import ThemeToggleScript from '@components/ThemeToggleScript.astro';

import { generateTags } from '@utils/metadata';

const { metadata, class: className = [] } = Astro.props;

const tags = generateTags(metadata);
const { head, body } = tags;

const isDev = import.meta.env.MODE === 'development';
---
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="darkreader-lock" />
<meta name="generator" content={Astro.generator} />
<Fragment set:html={head} />
{!isDev && (
    <script
        defer
        data-domain="johnzanussi.com"
        data-api="/api/rk6m8wh2a"
        src="/rk6m8wh2a.js"
    />
)}
</head>
<body>

<ThemeToggleScript />

<Fragment set:html={body} />

<div class:list={[
    'site position-relative',
    className,
]}>

    <div class="site-nav-wrap px-2 px-md-0 sticky-top">
        <Nav />
    </div>

    <slot />

</div>

<noscript>
    <style>
    html[data-bs-theme="light"] .d-nojs-none,
    html[data-bs-theme="dark"] .d-nojs-none {
        display: none !important;
    }
    html[data-bs-theme="light"] .d-nojs-block,
    html[data-bs-theme="dark"] .d-nojs-block {
        display: block !important;
        max-height: 99em;
    }
    </style>
</noscript>
</body>
</html>
