---
import '@fontsource/inter/variable.css';
import '@fontsource/roboto-mono/variable.css';

import '../styles/index.scss';

import Nav from '@components/Nav.astro';
import ThemeToggleScript from '@components/ThemeToggleScript.astro';

import { generateTags } from '@utils/metadata';

const { metadata, class: className = [] } = Astro.props;

const tags = generateTags(metadata);
const { head, body } = tags;

const isDev = import.meta.env.MODE === 'development';
---

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<Fragment set:html={head} />
{!isDev && (
    <script
        defer
        data-domain="johnzanussi.com"
        data-api="/api/rk6m8wh2a"
        src="/rk6m8wh2a.js"
    />
)}
</head>
<body>

<ThemeToggleScript />

<Fragment set:html={body} />

<div class:list={[
    'site position-relative',
    className,
]}>

    <div class="site-nav-wrap px-2 px-md-0">
        <Nav />
    </div>

    <slot />

</div>

</body>
</html>
