---
import '@fontsource/inter/variable.css';
import '@fontsource/roboto-mono/variable.css';

import '../styles/index.scss';

import Nav from '@components/Nav.astro';
import ThemeToggleScript from '@components/ThemeToggleScript.astro';

import { generateTags } from '@utils/metadata';

const { metadata } = Astro.props;

const tags = generateTags(metadata);
const { head, body } = tags;

const isDev = import.meta.env.MODE === 'development';
---

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<Fragment set:html={head} />
{!isDev && (
    <script
        defer
        data-domain="johnzanussi.com"
        data-api="/api/rk6m8wh2a"
        src="/rk6m8wh2a.js"
    />
)}
</head>
<body>

<ThemeToggleScript />

<Fragment set:html={body} />

<div class="d-md-flex mx-2 mx-md-0">

    <Nav />

    <main class="site-main d-md-flex flex-column flex-grow-1 mb-5 my-md-4 px-2 py-4 px-md-4 p-lg-5">

        <slot />

    </main>

</div>

</body>
</html>
