@import './bootstrap';
@import './animations';

a {
    transition: color 0.5s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0ms,
        opacity 0.5s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0ms;
}

h1 {
    word-spacing: -0.2em;
}

h2 {
    word-spacing: -0.1em;
    &.border-bottom {
        border-color: rgba($headings-color, 0.3) !important;
    }
}

@include color-mode(light) {

    body {
        background: linear-gradient(50deg, rgba(241,238,235,1) 55%, rgba(214,229,244,1) 100%);
        background-attachment: fixed;
    }

    .text-emphasis {
        color: $emphasis-color;
    }
}

@include color-mode(dark) {

    body {
        background: linear-gradient(50deg, rgba(14,17,20,1) 45%, rgba(6,28,51,1) 100%);
        background-attachment: fixed;
    }

    .text-emphasis {
        color: $emphasis-color-dark;
    }
    .code-block {
        border-color: #000 !important;
    }
}

.code-block {
    .code-language {
        background-color: var(--bs-border-color);
    }
}

.bg-tertiary {
    background-color: var(--bs-tertiary-bg);
}

.display-1 {
    word-spacing: -0.5em;
    @include media-breakpoint-down(md) {
        font-size: 2.5rem;
    }
}

.shadow-hover-none {
    transition-property: box-shadow, opacity;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.37, 0.75, 0.61, 1.05);
    transition-delay: 0ms;

    &:hover {
        box-shadow: none !important;
        opacity: 90%;
    }
}


@include media-breakpoint-up(md) {
    .rounded-md-end {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        @include border-end-radius;
    }

    .rounded-md-2 {
        @include border-radius(var(--bs-border-radius));
    }

    .site-nav {
        position: sticky;
        top: 3rem;
    }

    .post-card {
        .card-img {
            flex: 0 0 450px;
        }

    }
}

.collapse-button {
    @include transition($accordion-icon-transition);

    &:not(.collapsed) {
        transform: $accordion-icon-transform;
    }
}

.nav-photo {
    @include media-breakpoint-down(md) {
        width: 110px;
        height: 110px;
    }

    // @include transition($accordion-icon-transition);

    a:hover > span {
        animation: shakeX;
        animation-duration: 0.5s;
    }
}



.site-main {
    max-width: 1200px;
}

.content-container {
    max-width: 44em;
}

.link-anchor {
    opacity: 0;

    :hover > & {
        opacity: 0.5;
    }

    &:hover {
        opacity: 1;
        color: $link-color;
    }
}


.border-bottom-start {
    @include border-bottom-start-radius($border-radius-sm);
}

.nav-color-mode-toggle {
    @include media-breakpoint-down(md) {
        background-color: rgba($light, 0.1) !important;
        @include border-radius;
    }
    @include media-breakpoint-up(md) {
        position: absolute;
        top: 0;
        right: 0;
    }
}
