---
import Link from '@/components/Link.astro';
import Badge, { type Props as BadgeProps } from '@/components/ui/Badge.astro';
import { Icon } from 'astro-icon/components';

type TagLink = {
    title: string;
    url: string;
};

export type Props = {
    title?: string;
    links: TagLink[];
    class?: string;
    badge?: BadgeProps;
    showIcon?: boolean;
};

const {
    title,
    links,
    class: className,
    badge,
    showIcon = false,
} = Astro.props;
---
<div class:list={[className]}>
    {title && (
        <h3 class="text-xs text-gray-500 dark:text-slate-500 uppercase">
            {title}
        </h3>
    )}
    <div class="flex flex-wrap gap-3">
        {links.map(link => (
            <Link href={link.url}>

                <Badge {...badge}>
                    {link.title}
                    {showIcon && <Icon name="tabler:external-link" style={{ color: badge?.colorValue }} />}
                </Badge>

            </Link>
        ))}
    </div>
</div>